<!DOCTYPE html>
<html>
<head>
<title>marinate - <%= user.email %></title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="shortcut icon" type="image/png" href="http://www.mta.info/sites/all/themes/mta/images/subway_bullets/m.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" src="/javascripts/s3upload.js"></script>
    <style>
      body {
    font: 10px sans-serif;
    }

    .arc path {
      stroke: #fff;
    }
    </style>

    <meta name="viewport" content="width=device-width">
</head>
<body>

<!-- nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/profile" class="navbar-brand">marinate</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a><%= user.email %></a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Title -->
<div style="padding-left:20px;padding-top:20px" class="page-header">
  <h4>
    <%= capsule.capsuleName %> 
    <% if (capsule.endDate > new Date()) {%> 
      <span class="badge">
        <%= parseInt((Date.parse(capsule.endDate)-Date.now())/60000) %>min left
      </span>
    <%}%>
  </h4>
</div>

<!-- Photo upload status -->
<p style="margin-left:10px;margin-right:10px" id="status"></p>

<% if (capsule.endDate < new Date()) {%>
  <% for(var i=0; i < entry.length; i++) { %>
    <%if (entry[i].author!=user.email) {%>
      <div style="margin-left:10px;margin-right:50px" class="well well-sm">
        <%= entry[i].entry %>
        <br><small><%= entry[i].author %> -<%= entry[i].date.toDateString() %></small>
      </div>
    <% } %>
    <% if (entry[i].author==user.email) {%>
      <div style="margin-left:50px;margin-right:10px" class="well well-sm">
        <% if (entry[i].imageSrc != "") {%>
          <img style="max-height:280px;max-width:280px" src="<%= entry[i].imageSrc %>"/>
          <br><small><%= entry[i].author %> -<%= entry[i].date.toDateString() %></small>
        <% } %>
        <% if (entry[i].imageSrc == "") {%>
          <%= entry[i].entry %>
          <br><small><%= entry[i].author %> -<%= entry[i].date.toDateString() %></small>
        <% } %>
      </div>
    <% } %>
  <% } %>
<% } %>

<script>
var width = $(window).width(),
    height = $(window).width(),
    radius = Math.min(width, height) / 2;

var color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(radius - 70);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.entrySum; });

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

d3.json("/getcapsule/<%= capsule._id%>" , function(error, data) {

  console.log(data);
  data.forEach(function(d) {
    d.entrySum = +d.entrySum;
  });

  var g = svg.selectAll(".arc")
      .data(pie(data))
    .enter().append("g")
      .attr("class", "arc");

  g.append("path")
      .attr("d", arc)
      .style("fill", function(d) { return color(d.data._id); });

  g.append("text")
      .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .text(function(d) { return (d.data._id + ": " + d.data.entrySum); })
});

</script>

  <!-- Text Area -->
  <form style="position:fixed;right:30px;bottom:0px;padding:10px" action="/newpost" method="post" name="newpost">
    <div class="col-lg-6" style="width:90%">
        <div class="input-group">
            <textarea style="display:none" name="capsuleID"><%= capsule._id %></textarea>
            <input type="text" class="form-control" name="capsuleEntry" placeholder="Post something..">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Post</button>
            </span>
        </div>
      </div>
    </div>
  </form>

<!-- settings button -->
<button style="position:fixed;bottom:10px;right:10px" type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
</button>

<!-- uploader -->
<label style="position:fixed;bottom:10px;right:50px" type="button" class="btn btn-default">
  <input type="file" id="files" style="display:none"/>
  <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
</label>

<!-- Modal Dialog -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">Capsule Settings</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="capsuleName" class="control-label">Name</label>
            <small><%= capsule.capsuleName %></small>
          </div>
          <div class="form-group">
            <label for="date" class="control-label">Created</label>
            <small><%= capsule.date %></small>
          </div>
          <div class="form-group">
            <label for="timer" class="control-label">Unlocks</label>
            <small><%= capsule.endDate %></small>
          </div>
          <div class="form-group">
            <label for="creator" class="control-label">Creator</label>
            <small><%= capsule.creator %></small>
          </div>
          <div class="form-group">
            <label for="invitee" class="control-label">Invitees</label>
            <small><%= capsule.invitee %></small>
          </div>
      </div>
      <form action="/removepost" method="post" name"removepost">
        <div class="modal-footer">
          <textarea style="display:none" name="capsuleID"><%= capsule._id %></textarea>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash">Delete</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

//--uploader
function s3_upload(){
    var status_elem = document.getElementById("status");
    var url_elem = document.getElementById("avatar_url");
    var s3upload = new S3Upload({
        file_dom_selector: 'files',
        s3_sign_put_url: '/sign_s3',
        onProgress: function(percent, message) {
            status_elem.innerHTML = 'Upload progress: ' + percent + '% ' + message;
            status_elem.className = "alert alert-info";
        },
        onFinishS3Put: function(public_url) {
            status_elem.innerHTML = 'Upload completed.';
            url_elem.value = public_url;
        },
        onError: function(status) {
            status_elem.innerHTML = 'Upload error: ' + status;
        }
    });
}

  //Listen for file selection:

(function() {
    var input_element = document.getElementById("files");
    input_element.onchange = s3_upload;
})();
</script>



</body>
</html>