<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Entries</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>

<% for(var i=0; i < entries.length; i++) { %>
    <div><%= entries[i].entry %></div>
    <!--<div><%= entries[i].date %></div>-->
    <% if (entries[i].imgUrl != null) {%>
        <div><img src='<%= entries[i].imgUrl %>' style='width:50%;height:50%' /></div>
    <% } %>
<% } %>
</body>
</html>