<!DOCTYPE html>
<html>
<head>
<title>marinate - Sign up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="shortcut icon" type="image/png" href="http://www.mta.info/sites/all/themes/mta/images/subway_bullets/m.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
    </style>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">marinate</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- page content -->
<div style="padding-top:70px;max-width:300px" class="container">

<!--<div class="form-horizontal">

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-dismissible alert-warning"><%= message %></div>
    <% } %>

    <!-- SIGNUP FORM -->
    <form action="/signup" method="post" class="form-signin">
      <!--<h2 class="form-signin-heading">marinate</h2>-->
      <label for="email" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </form>

<!--
    <form action="/signup" method="post" name="signup">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
-->

    <div style="padding-bottom:80px"></div>

</div>

</div>

</body>
</html>