<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Capsule - Sign up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    </style>
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Capsule</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- page content -->
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1>Sign up</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- SIGNUP FORM -->
    <form action="/sendcode" method="post" name="sendcode">
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phonenumber">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Send Code</button>
    </form>

    <form action="/signup" method="post" name="signup">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="phoneNumber" class="form-control" name="phonenumber">
        </div>
        <div class="form-group">
            <label>Verification Code</label>
            <input type="phoneCode" class="form-control" name="phonecode">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <div style="padding-bottom:80px"></div>

</div>

</div>

</body>
</html>